.riscar{
    text-decoration: line-through;
    color:#198754;
}



li{
    background-color: rgba(255, 255, 255, 0.815);
    font-family:cursive;
    border: rgb(245, 238, 238) 2px solid;
    border-radius: 8px;
    padding: 10px;
    font-size: 25px;
    list-style: none;
    margin-bottom: 5px;
    border-top: none;
    border-left: none;
    border-right: none;
}

li button{
    margin-left: 35vw;
}

li input{
    margin-right: 5vw;
}
